body {
    background-color: #3c3c3c;
    font-family: "ProximaNova-Regular", Arial, Helvetica, Geneva, sans-serif;
}

header, footer {
    width: 90%;
    margin: 20px auto;
    text-align: center;
}

header h1 {
    margin: 4px 0;
    color: white;
    font-weight: normal;
}

section {
    background-color: white;
    width: 75%;
    margin: 20px auto;
    color: #222222;
    border-radius: 3px;
    padding: 0 2px 2px 2px;
    padding: 5px;
}

section h2, .bonus h3 {
    text-align: center;
    margin: 10px;
    font-size: 16px;
    text-transform: uppercase;
}

ol {
    counter-reset: line-counter; /* Initiate a counter */
    margin: 18px 52px;
    padding-left: 0;
}
ol > li {
    position:relative; /* Create a positioning context */
    margin: 10px 2em 10px 2em; /* Give each list item a left margin to make room for the numbers */
    padding: 4px 8px; /* Add some spacing around the content */
    list-style: none; /* Disable the normal item numbering */
    border-bottom: 1px solid #ddd;
    color: #aaaaaa;
}
ol > li:before {
    content: counter(line-counter, upper-roman); /* Use the counter as content */
    counter-increment:line-counter; /* Increment the counter by 1 */
    /* Position and style the number */
    position: absolute;
    top: -1px;
    left: -2em;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width: 2em;
    margin-right: 8px;
    padding: 4px;
    font-weight: bold;
    text-align: right;
    line-height: 22px;
    color: #222222;
}
li ol,
li ul {margin-top:6px;}
ol ol li:last-child {margin-bottom:0;}

section li:last-child {
    border: none;
}

section p {
    margin: 18px auto 10px auto;
    width: 93%;
}

.bonus {

}
.bonus h3 {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    font-size: 13px;
}

hr {
    border-top: 1px solid #ccc;
}

footer {
    color: white;

}
.action-type {
    font-weight: bold;
    text-transform: uppercase;
    color: #222222;
    margin-right: 4px;
}